*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
}

header{
    width: 100%;
    height: 11%;
    display:flex;
}

h1{
    text-indent: -10000px;
    flex-grow: 1;
    background: url(../assets/header_logo.png) no-repeat;
    background-size: 70%; 
    background-position: center;
    border-right: 2px solid #a5a5a5;
}

header nav{
    flex-grow: 14;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

header li{
    font: 1.1rem 'Karla', sans-serif;
    font-weight: bolder;
    list-style-type: none;
    margin: 0 1rem;
}

header li a{
    text-decoration: none;
    color: #a5a5a5;
}

.btn-img-right{
    display:flex;
}

.btn-img-right p{
    margin-right: 0.5rem;
}

.btn-img-right img{
    margin-left: 0.5rem;
}
.btn-img-left{
    display:flex;
}

.btn-img-left p{
    margin-left: 0.5rem;
}

.btn-img-left img{
    margin-right: 0.5rem;
}

.basket{
    flex-grow: 2;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
}

.basket p{
    font: 1.1rem 'Karla', sans-serif;
    font-weight: bolder;
}

.basket img{
    width: 1.5rem;
    height: 1.5rem;
}

main img{
    width: 68%;
    top: 0;
    left: 0;
    float: left;
}
.feature{
    box-sizing: border-box;
    width: 32%;
    padding: 5%;
    color: #dfdfdf;
    background-color: #1f1f1f;
    float: right;
}
main::after{
    display: block;
    content: "";
    clear: both;
}

.feature h3{
    display:inline-block;
    font: 1.2rem 'Karla', sans-serif;
    color: #a5a5a5;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 1.2rem;
}

.readers{
    display:inline-block;
    width:75%;
    font-size: 4.2rem;
    font-family: 'Patua One', cursive;
    font-weight: lighter;
    padding-bottom: 1.2rem;
    border-bottom: 4px solid white;
}

.lorem{
    margin-top: 1.2rem;
    font: 1.0rem 'Karla', sans-serif;
    line-height: 2.0rem;
    margin-bottom: 1.2rem;
}

.btn-read-more{
    margin-top: 1.2rem;
    font: 1.2rem 'Karla', sans-serif;
    text-transform: capitalize;
    background: url(/assets/right-arrow-df.svg) no-repeat;
}

.btn-read-more p{
    display: inline;
}

.btn-read-more img{
    color: #dfdfdf;
}