*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button{
    border: none;
}

header{
    width: 100%;
    height: 4.9rem;
    display:flex;
}

h1{
    text-indent: -10000px;
    flex-grow: 1;
    background: url(../assets/header_logo.png) no-repeat;
    background-size: 80%; 
    background-position: center;
    border-right: 2px solid #f5f5f5;
}

header nav{
    flex-grow: 14;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

header li{
    list-style-type: none;
    margin: 0 0.9rem;
}

header li a{
    font: 1rem 'Karla', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: #a5a5a5;
}

.btn {
    display:flex;
    justify-content: center;
    align-items: center;
    font: 1.1rem 'Karla', sans-serif;
    font-weight: bolder;
    letter-spacing: 0.1rem;
}

.btn-img {
    width: 1.5rem;
    height: 1.5rem;
}

.img-right {
    margin-left: 1rem;
}

.img-left {
    margin-right: 1rem;
}

.basket{
    flex-grow: 2;
    background-color: #f5f5f5;
}

main {
    width: 100%;
    display:flex;
}

main > img{
    width: 67%;
    height: 67%;
}

main aside {
    width: 33%;
    display: flex;
    flex-direction: column;
}

main aside section{
    height: 89%;
    padding: 15%;
    background-color: #1f1f1f;
    color: #a5a5a5;
}

main aside section h3{
    font: 1rem 'Karla', sans-serif;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 0.6rem;
}

main aside section h4{
    font-size: 3.2rem;
    font-family: 'Patua One', cursive;
    font-weight: lighter;
    color: white;
    padding-bottom: 1.4rem;
    border-bottom: 4px solid white;
}

.lorem{
    margin-top: 1.4rem;
    font: 0.9rem 'Karla', sans-serif;
    line-height: 1.8rem;
    margin-bottom: 1.6rem;
}

.read-more{
    margin-bottom: 0.4rem;
    justify-content: flex-start;
    background-color: #1f1f1f;
    color: #dfdfdf;
    text-transform: capitalize;
}

main aside footer{
    height: 11%;
    display: flex;
    align-items: center;
}

main aside footer nav{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.prev, .next{
    background-color: white;
    flex-grow: 1;
    color: #dfdfdf;
    height: 100%;
    text-transform: capitalize;
    border: 1px solid #dfdfdf;
}
