* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(19, 59, 105);
}

.container {
    width: 800px;
    margin: auto;
    padding: 28px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

button {
    width: 200px;
    padding: 14px;
    margin: 14px;
    text-align: center;
    font-size: 18px;
    color: darkgrey;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.4);
    opacity: 0.9;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.light {
    background-color: lightblue;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

button:hover {
    opacity: 1;
}

button:active {
    opacity: 0.8;
}