* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

html, body {
    width: 100%;
    height: 100%;
    /* background-color: aquamarine; */
}

.main-window {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 31.5rem;
    margin: 5% auto;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 3px 3px 3px lightgray;
}

.panel {
    display: inline-block;
    /* height: 100%; */
    width: 50%;
    /* background-color: blue; */
}

.left {
    /* float: left; */
    border-right: 1px solid lightgrey;
    border-radius: 5px 0 0 0;
}

.right {
    /* float: right; */
    border-left: 1px solid lightgrey;
    border-radius: 0 5px 0 0;
}

/* .mai::after {
    content: "";
    visibility: hidden;
    display: block;
    width: 100%;
    height: 0;
    clear: both;
} */

.logo-artwork {
    /* display: block; */
    width: 100%;
    height: 10.5rem;
    /* background-color: aquamarine; */
    border-radius: 5px 0 0 0;
    display: flex;
    justify-content: space-between;
}
.logo-playlists{
    width: 100%;
    height: 10.5rem;
    display: flex;
    flex-direction: column;
}
.artwork {
    width: 18.67rem;
    height: 10.5rem;
    /* display: inline-block; */
    background:
    url("img/music-placeholder.png")    /* image */
    top right / cover /* position / size */
    no-repeat;                /* rep              /* clip */
    /* lightgray; */
    background-color: #f3f3f3;
    /* float: right; */
    cursor: pointer;

}

.logo-container {
    /* box-sizing: border-box; */
    width: 7.5rem;
    height: 7.5rem;
    padding: 1rem;
    /* display: inline-block; */
    /* background-color: blueviolet; */
    border-radius: 5px 0 0 0;

    /* background: */
    /* url("img/foxplayer.png")    image */
    /* center / contain position / size */
    /* no-repeat                /* rep              clip */
    /* lightgray; */
}

.logo {
    display: inline-block;
    width: 100%;
    height: 100%;
    /* background-color: coral; */
    background:
    url("img/foxplayer.png")
    left / contain 
    no-repeat ;
    cursor: pointer;
}

.playlists{
    /* display: block; */
    /* width: 50%; */
    height: 3rem;
    padding: 0 1rem;
    /* background-color: brown; */
    line-height: 3rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.default-lists{
    width: 100%;
    height: 6rem;
    overflow-y: auto;
}

span{
    cursor: pointer;
}

.playadd{
    display: inline-block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    float: right;
    font-size: 2rem;
    text-align: center;
    /* color: gray; */
    cursor: pointer;
}
.playadd {
    color: black;
}
/* 
.playadd::after{
    content: "";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
} */




.playlist, .track{
    display: block;
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    /* background-color: brown; */
    line-height: 3rem;
    font-size: 0.9rem;
    /* color: grey; */
}

.track{
    cursor: pointer;
}

.playlist:nth-child(odd), .track:nth-child(odd){
    background-color: lightgrey;
}

.playlist:nth-child(even), .track:nth-child(even){
    /* background-color: lightgrey; */
}



.playlist-delete{
    height: 3rem;
    line-height: 3rem;
    float: right;
    /* font-size: 2rem;
    color: gray; */
    cursor: pointer;
}

.currenttrack{
    display: flex;
    width: 100%;
    height: 4.5rem;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.trackdata {
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.note{
    font-size: 0.9rem;
    color: #b4b4b4;
}

.title{
    font-size: 1rem;
}

.controls {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    /* line-height  : 100%; */

}

.star {
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    /* disp lay: inline-block; */
    background:
    url("img/star.svg")    /* image */
    center left 0.5rem/ 60% /* position / size */
    no-repeat;                /* rep              /* clip */
    /* lightgray; */
    /* float: r ight; */
    cursor: pointer;
}

.trackadd{
    height: 3rem;
    line-height: 3rem;
    /* float: right; */
    font-size: 2rem;
    color: #b4b4b4;
    padding-left: 0.5rem;
    cursor: pointer;
}

.track-list{
    width: 100%;
    height: 22.5rem;
    overflow-y: auto;
}

.playlist-list{
    width: 100%;
    height: 10.5rem;
    overflow-y: auto;
}

.tr-id, .tr-title, .tr-time{
    display: inline-block;
    pointer-events: none;
}

.tr-time{
    display: inline-block;
    float: right;
}

.audio-container{
    width: 100%;
    height: 4.5rem;
    padding: 0 1rem;
    /* padding: 1.2rem 0; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.self-audio{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.audio-control{
    display: inline-block;
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-color: blue;
    /* vertical-align: baseline; */
    cursor: pointer;
}

.rew{
    background:
    url("img/rewind.svg")    /* image */
    center / contain /* position / size */
    no-repeat;
}

.playpause{
    background:
    url("img/play.svg")    /* image */
    center / contain /* position / size */
    no-repeat;
}

.for{
    background:
    url("img/forward.svg")    /* image */
    center / contain /* position / size */
    no-repeat;
}
.elapsed, .duration{
    width: 3rem;
    line-height: 2rem;
    text-align: center;
}
    /* width: 5rem; */
    /* vertical-align: middle;
    line-height: 2rem;
} */


.bar {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    background: transparent; /* Otherwise white in Chrome */
}

.time{
    width: 100%; /* Specific width is required for Firefox. */
}

.bar::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
    background: #ffffff;
    /* background-image: url("img/metal-button-icon-.jpg"); */
    background:
    url("img/metal-button-icon-.jpg")    /* image */
    center / contain /* position / size */
    no-repeat;
    cursor: pointer;
    margin-top: -0.85rem;
    /* margin-top: -14px; You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

.bar::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.2rem;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}



.time-bar:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }

.shu{
    background:
    url("img/shuffle.svg")    /* image */
    center / contain /* position / size */
    no-repeat;
}
.vol{
    background:
    url("img/volume.svg")    /* image */
    center / contain /* position / size */
    no-repeat;
}


.audio{
    display: block;
    width: 100%;
    height: 2rem;
}

.now-playing{
    background-color: aquamarine;
}

/* audio::-webkit-media-controls-panel
audio::-webkit-media-controls-mute-button
audio::-webkit-media-controls-play-button
audio::-webkit-media-controls-timeline-container
audio::-webkit-media-controls-current-time-display
audio::-webkit-media-controls-time-remaining-display
audio::-webkit-media-controls-timeline
audio::-webkit-media-controls-volume-slider-container
audio::-webkit-media-controls-volume-slider
audio::-webkit-media-controls-seek-back-button
audio::-webkit-media-controls-seek-forward-button
audio::-webkit-media-controls-fullscreen-button
audio::-webkit-media-controls-rewind-button
audio::-webkit-media-controls-return-to-realtime-button
audio::-webkit-media-controls-toggle-closed-captions-button */