* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 10px;
}

.item {
    width: 200px;
    height: 200px;
    float: left
}

.green {
    background: green;
}

.yellow {
    background: yellow;
}

.purple {
    background: purple;
}