/* * {
    margin: 0;
    padding: 0;
} */

body {
    margin: 5px;
}

h1 {
    color: tomato;
}

h2 {
    color: purple;
    margin: 18px 0;
}

p {
    margin-right: 50%;
}

ol {
    list-style-type: upper-roman;
}

ol {
    color: deeppink;
    text-decoration: underline;
}

ol > li:last-child {
    color: black;
    text-decoration: underline;
    
    
}
