* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(57, 57, 57);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item {
    width: 150px;
    margin: 15px;
    display: flex;
    justify-content: flex-start;
}

i {
    padding: 10px;
    width: 38px;
    height: 38px;
    background-color: black;
}

button {
    width: 150px;
    background-color: rgb(57, 57, 57);
    color: rgb(57, 57, 57);
    border: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.arrow {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
}

p {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.none > i {
    color: white;
}

.delete > button > i {
    color: rgb(57, 57, 57);
}

.delete > button:hover {
    background-color: red;
    color: darkgrey;
}

.delete > button:hover > i{
    color: red;
}

.sure > button > i {
    color: rgb(57, 57, 57);
}

.sure > button:hover {
    background-color: green;
    color: darkgrey;
}

.sure > button:hover > i {
    color: green;
}
