*{
  box-sizing: border-box;
  border-width: 0;
  margin: 0;
  padding: 0;
}

#main-window {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, grey, lightgrey, grey);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.slider{
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin-bottom: 1%;
  box-shadow: 0 10px 5px gray;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn{
  width: 40px;
  background-image: url("assets/arrow.svg"), linear-gradient(to bottom, grey, white);
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
}

.right{
  transform: scaleX(-1);
}

.chosen-photo {
  background-image: url('images/canyon.jpg');
  background-size: 800px;
  width: 800px;
  height: 450px;
  display: flex;
  align-items: flex-end;
}

.description{
  color: white;
  width: 100%;
  height: 25%;
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
}

ul{
  display: inherit;
}

li{
  display: inherit;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 5px;
  background: linear-gradient(to bottom, white, grey);
  box-shadow: none;

}

.thumbnail {
  display: inline-block;
  box-sizing: content-box;
  width: 70px;
  height: 70px;
  background-image: url('images/canyon.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.btn:active{
  background-image: url("assets/activearrow.svg"), linear-gradient(to bottom, grey, white);
  /* border: 15px solid grey; */
  outline: none;
}

.right:active {
  box-shadow: inset -1px 1px 1px 1px #4e4e4e;
}

.left:active {
  box-shadow: inset 1px 1px 1px 1px #4e4e4e;
}
