*{
  box-sizing: border-box;
  border-width: 0;
  margin: 0;
  padding: 0;
}

#main-window {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, grey, white, grey);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.slider{
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-bottom: 1%;
}

footer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn{
  width: 2.5%;
  background: url("assets/arrow.svg") no-repeat center lightgray;
}

.right{
  transform: scaleX(-1);
}

.main-img {
  width: 60%;
  height: 100%;
}


.thumbnail {
  width: 75px;
  height: 75px;
  margin: 1%;
  display: inline-block;
  background-color: cadetblue;
}