*{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  background-color: #e3e3e3;
}

.header{
  height: 200px;
  padding-top: 30px;
  background: url("../assets/banner.jpg") 0 no-repeat;
  background-size: cover;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 4rem;
  text-align: center;
  margin-bottom: 20px;
}

.header::after{
  content: 'post to /r/space';
  text-transform: uppercase;
  font-size: 0.5em;
  letter-spacing: normal;
}

.content{
  width: 40%;
  height: 100%;
  margin: 10px;
}


.inputs{
  background-color: #f3f3f3;
  padding: 10px;
}

.link-to{
  border: none;
  display: block;
  background-color: cornflowerblue;
  color: white;
  text-transform: uppercase;
  height: 2em;
  line-height: 2em;
  text-align: center;
  text-decoration-line: none;
  font-weight: bolder;
  margin-bottom: 5px;
  width: 60%;
}

.label{
  display: block;
  padding-bottom: 5px;
  font-weight: bolder;
}

.label-title::before{
  content: '*';
  color: red;
}

.input{
  width: 100%;
  margin-bottom: 10px;
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 0.1em;
}
